.container {
  width: 100%;
  background: #d15dbb;
  background: linear-gradient(180deg, #d15dbb 20%, #ffaca8 80%);
  height: 100vh;
  main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    form {
      padding: 4rem 2rem;
      box-sizing: border-box;
      background: var(--third-color);
      border-radius: 1rem;
      div {
        padding: 2.5rem 2rem;
        font-size: 3rem;
        display: flex;
        color: var(--secondary-color);
        i {
          display: flex;
          align-items: center;
          border-bottom: 0.3rem solid var(--secondary-color);
        }
        input {
          font-size: 2rem;
          color: var(--light);
          background: none;
          outline: none;
          border-radius: 0;
          border: 0;
          border-bottom: 0.3rem solid var(--secondary-color);
          padding: 1rem;
        }
        input::placeholder {
          color: var(--light);
        }
      }
      .button {
        display: flex;
        justify-content: flex-end;
        padding: 2.5rem 2rem;
        button {
          padding: 1rem 5rem;
          font-size: 2rem;
          color: var(--light);
          border: 0.3rem solid var(--secondary-color);
          border-radius: 1rem;
          transition: ease 0.4s;
          &:hover {
            background: var(--primary-color);
          }
        }
      }
    }
  }
}
