.container {
  background: #d15dbb;
  background: linear-gradient(180deg, #d15dbb 20%, #ffaca8 80%);
  display: flex;
  justify-content: center;
  border-radius: 0px 0px 3rem 3rem;

  section {
    padding: 0rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    height: auto;
    flex: 2;
    h1 {
      color: var(--secondary-color);
      font-size: 6rem;
      margin: 1rem;
    }

    div {
      color: var(--light);
      display: flex;
      margin: 2rem auto;
      justify-content: space-between;

      img {
        width: 100px;
      }

      p {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        padding: 0;
        margin: 0px 2rem;
        text-align: justify;
      }
    }

    nav {
      width: 100%;
      color: var(--light);
      margin: 3rem auto;
      background: var(--third-color);
      border-radius: 1rem;

      ul {
        display: flex;
        justify-content: space-around;
        padding: 1rem;

        li {
          width: 30%;
          padding: 1.3rem 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.6rem;
          border-radius: 1rem;
          cursor: pointer;
          background-color: var(--unselected-button);
          transition: ease-in 0.5s;
          &:hover {
            background-color: var(--secondary-color);
          }
          &.selected {
            background-color: var(--selected-button);
          }
        }
      }
    }
  }

  @media screen and (min-width: 730px) {
    section {
      h1 {
        font-size: 8rem;
      }
      div {
        color: var(--light);
        display: flex;

        width: 100%;
        div {
          width: 40%;
          img {
            width: 200px;
          }
        }
        p {
          font-size: 2rem;
          margin: 2rem;
          padding: 0rem 6rem 0rem 2rem;
          width: 50%;
          text-align: justify;
        }
      }
    }
  }
}
