header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem;
  background: var(--primary-color);
  img {
    width: 12rem;
  }
  button {
    display: flex;
    align-items: center;
    font-size: 8rem;
    color: var(--secondary-color);
  }
  ul {
    display: flex;
    font-size: 2.5rem;
    li {
      margin-left: 15px;
    }
  }
}
