footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: var(--primary-color);
  img {
    width: 8rem;
  }
  p {
    text-align: end;
    color: var(--light);
    font-size: 1.3rem;
    font-weight: 700;
  }
}
